# 设置音频文件的MIME类型
AddType audio/mpeg .mp3
AddType audio/ogg .ogg
AddType audio/wav .wav

# 允许跨域访问
<IfModule mod_headers.c>
    <FilesMatch "\.(mp3|ogg|wav)$">
        Header set Access-Control-Allow-Origin "*"
    </FilesMatch>
</IfModule>