<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <!-- 添加或移除MIME映射 -->
            <remove fileExtension=".mp3" />
            <mimeMap fileExtension=".mp3" mimeType="audio/mpeg" />
            <remove fileExtension=".ogg" />
            <mimeMap fileExtension=".ogg" mimeType="audio/ogg" />
            <remove fileExtension=".wav" />
            <mimeMap fileExtension=".wav" mimeType="audio/wav" />
        </staticContent>
        <httpProtocol>
            <customHeaders>
                <!-- 允许跨域访问 -->
                <add name="Access-Control-Allow-Origin" value="*" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>